{% extends 'base.html.twig' %}

{% block title %}About me{% endblock %}
{% block menu %}
{{ parent() }}
    <li>
        <span>Europe: {{ date|format_date(pattern="d/M/Y") }}</span>
    </li>
    <li>
        <span>America: {{ date|format_date(pattern="M/d/Y") }}</span>
    </li>
    <li>
        <span>China & Japan: {{ date|format_date(pattern="Y/M/d") }}</span>
    </li>
{% endblock %}
{% block body %}
    <div class=" col-sm-8 col-md-8  col-lg-9  text-center ">
        <h1>About {{ name |title }}! </h1>

            <p>{{ quote() | nl2br }}</p>


    </div>
{% endblock %}
